In [ ]:
print("Hello World")

In [ ]:
first_name = ("TOny")

In [ ]:
last_name =("Stark")

In [ ]:
age=51

In [ ]:
if (age == 51):
    print("Tony is a genius")
else:
    print("oh noo , you enter the wrong age")
    print("can you change the age to 51 to make tony genius")

In [ ]:
name = input(" please enter your name  ")

In [ ]:
print('welcome  ' + name)

In [ ]:
superhero = input("i know you love heros , enter your favourite superhero name ")
print("oh wow " + superhero +" is a great superhero " "he is also mine favourite too")

## NOW WE ARE PLAYING WITH THE LISTS

In [ ]:
fruits = ["Apple","Mango","Banana","pineapple"]

In [ ]:
print(fruits)
type(fruits)

In [ ]:
a_List = [23,"hello",None,3.14,fruits,3<=5]

In [ ]:
print(a_List)

In [ ]:
print("No of elements: ", len(fruits))

In [ ]:
print("No of elements: ", (fruits))

## a fun code

In [ ]:
print("hello")

In [ ]:
string = input("Enter a string: ")
print("Operation to perform 1.Total length , 2.Count of characters")
choice = input()
if choice == '1':
    print(len(string))
elif choice == '2':
    char = input("Enter a character")
    if char in string:
        print(string.count(char))
    else:
        print("Character not available")
else: 
    print("Invalid choice")

#### playing with the lists

In [ ]:
list = ["orange","blueberry","pineapple","kiwi"]
print(list)

In [ ]:
list.append("mango")
print(list)

In [ ]:
list.remove("pineapple")
print(list)

In [ ]:
list.pop(2)
print(list)

### concatinating two lists

In [ ]:
more_fruits=["guava","cheeko","avacado"]

concatinating = list + more_fruits
print(concatinating)

In [ ]:
"pineapple" in list

In [ ]:
"mango" in concatinating

In [ ]:
print(more_fruits)

In [ ]:
list_of_fruits = more_fruits + ["banana","cherry"]
print(list_of_fruits)

## now with dictioneries

In [ ]:
person1 = {
    "name" : "Zohaib",
    "sex" : "Male",
    "age" : 23,
    "married" : False
}

In [ ]:
print(person1)

In [ ]:
type(person1)

In [ ]:
person2 = dict(
name = "Nisha",
age = 21,
sex = "Female",
married = False)

In [ ]:
type(person2)

In [ ]:
person2["name"]

In [ ]:
person1["name"]

In [ ]:
person2.get("address", "Unknown by default")

In [ ]:
person2["address"] = "1,penny lane"

In [ ]:
print(person2)

In [ ]:
person2.get("address","Unknown")

In [ ]:
person2.keys()

In [ ]:
person2.values()

In [ ]:
person2.items()

## Branching , Loops and Functions

In [ ]:
a_number = int(input("please enter a number to check if it is even or odd "))
if a_number%2 == 0:
    print("We are inside an if block")
    print("The given numer is {} is even".format(a_number))
else:
    print("The number is not a even number ")

a_number = int(input("Please enter a number: "))

if a_number % 2 == 0:
    print("{} is even.".format(a_number))
    
    if a_number % 3 == 0:
        print("{} is divisible by 3.".format(a_number))
    else:
        print("{} is not divisible by 3.".format(a_number))
else:
    print("{} is odd.".format(a_number))

if a_number % 5 == 0:
    print("{} is also divisible by 5.".format(a_number))
else:
    print("{} is not divisible by 5.".format(a_number))

## iteration with while loop

In [ ]:
%%time

i = 1
result = 1

for i in range(1,101):
    result *= i
    i = i+1
    
print("factorial of 100 is ", result)

In [ ]:
%%time

i= 1
result = 1

while (i<=100):
    result = result * i
    i = i+1

print ("the factorial of 100 using while loop is " , result)

## loops

In [ ]:
i =  1
result = 1

while (i<=20):
    i += 1
    if i%2 == 0:
        print ('Skipping {}'.format(i))
        continue
    print("multiplying with {}".format(i))
    result = result * i 
    
print("i:", i )
print("result",result)

## iteration with for loops

In [ ]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

for day in days:
    print(day)

In [ ]:
for char in 'Monday':
    print(char)

In [ ]:
#Looping over a list

for fruit in ['Apple', 'Orange', 'Banana']:
    print("Here is a yummy fruit ", fruit)

In [ ]:
#looping over a dictionary

person = {
    'name' : "Zohaib",
    'age' :  23,
    'sex' : "male",
    'married' : False
}

for key in person:
    print("Key:", key, "," , "Value:" , person[key])

## getting pair values
## .values() , .keys() , .items()

In [ ]:
for value in person.values():
    print(value)

In [ ]:
for key in person.keys():
    print(key)

In [ ]:
for keyvaluepair in person.items():
    print(keyvaluepair)

## iterating using range and enumerate

In [ ]:
for i in range (3,10):
    print(i)

In [ ]:
for i in range(6):
    print(i)

In [ ]:
for i in range (0,8,2):
    print(i)

## ranges are also used for iterating over lists

In [ ]:
a_list = ["monday", "tuesday", "wednesday","thursday","friday","saturday","sunday"]

for i in range(len(a_list)):
    print("the value at postion {} is {} ".format(i,a_list[i]))

In [ ]:
a_list = ["monday", "tuesday", "wednesday","thursday","friday","saturday","sunday"]

for i in range(len(a_list)):
    print(i,a_list[i])

In [ ]:
weekdays = ["monday", "tuesday", "wednesday","thursday","friday","saturday","sunday"]

for day in weekdays:
    if (day == "wednesday"):
        print("i dont work on wednesday")
        continue
    print("Today is {} ".format(day))

In [ ]:
weekdays = ["monday", "tuesday", "wednesday","thursday","friday","saturday","sunday"]

for day in weekdays:
    if (day == "wednesday"):
        print("\033[1mI don't work on Wednesday\033[0m")
        continue
    print("\033[1mToday is {}\033[0m".format(day))

In [ ]:
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

for days in weekdays:
    if(days == "Tuesday"):
        print("Today is tuesday , and its a gooday")
        continue
        
    print("the day is {}".format(days))

## nested loops to print pattern

In [ ]:
row = 7

for i in range (1,row+1):
    for j in range(1, i+1):
        print("*",end = " ")
    print(" ")

In [ ]:
list_fruits = ["mango","apple","banana","orange"]
for list in list_fruits:
    for i in list:
        print(i, end="@")
    print("")

In [ ]:
list_fruits = ["mango","apple","banana","orange"]
for list in list_fruits:
    
    print("list is " , list)

In [ ]:
list_fruits = ["mango","apple","banana","orange"]
for list in list_fruits:
    for i in list:
        print(i, end=" ")
    print("")

In [ ]:
color = ["green","red","blue"]

items = ["apple","vegies","shirt"]

for x in color:
    for y in items:
        print(x,y)
        print(" ")

In [ ]:

color = ["green","red","blue"]

items = ["apple","vegies","shirt"]

for x in items:
    for y in color:
    
        print(x,y)
        print(" ")

In [ ]:
color = ["green","red","blue"]

items = ["apple","vegies","shirt"]

for x in color:
    print("color is {}".format(x))
    print(" ")
    
print(" ")
        
    
    

for y in items:
    print("item is {}".format(x))
    
print(" ")

concatenate = [color + items]
print("concatenate", concatenate)

In [ ]:
# printing right angel triangle

for i in range(11):
    for j in range(i):
        print("*",end = "")
    print("")

## now with the help of while loop

In [ ]:
i = 11
while(i>0):
    j = 11
    while(j > i):
        print("*", end = "")
        j = j-1
    i = i-1
    print()

 ## appending two lists

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]

result = []

for i in list1:
    for j in list2:
        result.append(i + j)

print(result)

In [ ]:
list1 = ["10", "20", "30"]
list2 = ["40", "50", "60"]

result = []

for i, j in zip(list1, list2):
    result.append(int(i) + int(j))

print(result)

In [ ]:
list1 = ["10", "20", "30"]
list2 = ["40", "50", "60"]

result = []

for i in list1:
    for j in list2:
        result = (i + j)

print(result)

## multiplying two lists

In [ ]:
list1  = [2,4,6]
list2  = [2,4,6]

for i in list1:
    for j in list2:
        if i == j: ## skipping multiplying with same number itself
            continue
        print(i, "*", j, "=", i*j)

## perfect number 
### first perfect number is 6 = 1+2+3 and after that 28 is a perfect number

In [ ]:
a = 1
while a < 100:
    y_sum = 0
    
    for i in range(1, a):
        if a % i == 0:
            y_sum = y_sum + i
        
    if y_sum == a:
        print("It's a perfect number {}".format(a))
        
    a = a + 1

In [ ]:
for x in range (3): ## run three times 
    for num in range(1,10):
        print(num,"-+_")
    print(" ")

In [ ]:
for x in range(3):
    for y in range(1,10):
        print(y,end="")
    print()

In [ ]:
rows = int(input("enter the number of rows: "))
columns = int(input("enter the number of columns: "))
symbol = input("enter a symbol to use: ")

for x in range(rows):
    for y in range(columns):
        print(symbol,end="")
    print()

In [ ]:
i = 1
while i<5:
    if(i==3):
        print("3 is not a good number to print")
    print(i)
    i = i+1

## functions

In [ ]:
def say_hello():
    print("hello there")
    print("how are you!")
    
say_hello()

In [ ]:
def say_hello(name):
    print("hello {}!".format(name))

In [ ]:
say_hello("zohaib")

## function arguments

In [ ]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [ ]:
even_list = filter_even([1,2,3,4,5,6,7,8,9])

In [ ]:
even_list

In [ ]:
odd_list = filter_even([1,3,5,7,9])

odd_list 
# there is no even in the list so thats why its a empty list

### writing great functions in python

In [ ]:
def function1(first_name):
    print("hi its function1 running ")
    
def function1(first_name,last_name):
    print(f"its second function  { first_name} and {last_name}")



function1("zohaib","khan")

In [ ]:

def increment(number,by= 3):
    return number + by 


increment(2, by= 13)

In [ ]:
# [list]
#(tuple)



def multiply(*numbers):
    total = 1
    for number in numbers:
        total = total * number
        print(number)
    return total
        
#     print(numbers)
    
multiply(2,3,4,5)

In [ ]:
def save_users(**users):
    print(users["name"])
    
save_users(id=1,name="john",age=22)

### FizzBuzz problem

In [ ]:
def fizz_buzz(input):
    if input % 3 ==0 and input % 5 == 0:
        return "FizzBuzz"
    if input % 3 == 0:
        return "Fizz"
    if input % 5 == 0:
        return "Buzz"
    else:
        return input
    
print(fizz_buzz(15))

## Quadratic Equation

### -b + cmath.sqrt(b^2 - 4ac) / 2a

In [ ]:
import cmath

In [ ]:
a = int(input("Enter a (a! = 0 )"))
b = int(input("Enter b "))
c = int(input("Enter c "))

# finding discriminant

d = (b**2) - (4*a*c)

print("\n")
print(f"Results for equation, {a}x**2 + b{x} + {c} = 0, are :- \n")

sol1 = -b - cmath.sqrt((d))/(2*a)
sol2 = -b + cmath.sqrt((d))/(2*a)

if d>0:
    print("Types of roots : Two distinct real roots")
elif d==0:
    print("Types of roots : Two equal real roots")
elif d<0:
    print("Types of roots : Two complex roots")
    
print(f"The solutions are {sol1} and {sol2}")

## Named Arguments

In [ ]:
def my_fun(location, name, msg):
    print(name+"\n"+location +msg)

my_fun(msg =  " hello ",name = " Zohaib " , location = " lahore ")

## Try and Except

In [ ]:
try:
    print("Now compiling the result")
    result = 5 / 2  # This is a valid division operation
    print("Computation was successfully complete")

except ZeroDivisionError:
    print("Failed to compute the result because you were trying to divide by zero")
    result = None
    
print(result)  # This will print the result of the division (2.5)

In [ ]:
print("hello")

## DocStrings

In [ ]:
def add_numbers(a,b):
    ''' Takes two parameters and 
    return sum '''
    
    return a+b

print(add_numbers(5,10))

print(add_numbers.__doc__)

## Multiple return statement

### if you doesnt return anything then it returns None by default

In [ ]:
def add(a,b):
    sum1 = a+b
    sum = a-b

    return sum1,sum

result = add(2,3)
print(result)
print(type(result))



def demo():
    '''It can also return lists, dictionaries, tuple etc
       ***** This is a docstring *****'''
    return "hello"

print("demo returns: " , demo())

print(demo.__doc__)

In [ ]:
def loan_emi(amount):
    return amount/12

loan_emi(100)
print(loan_emi(100))

## sqrt using exponention

In [ ]:
num = 64
num1 = int(input("Enter a number "))
sr = num1 ** (1/2)

print("the sqrt of the number is ",sr )

In [ ]:
import math
num1 = int(input("Enter a number "))
sr = math.sqrt(num1)

print("the sqrt of the number is ",sr )

In [ ]:
#swaping two numbers

x=12
y=13

x,y = y,x
print(f"Now values of x is {x} and y is {y}")

In [ ]:
# km to miles

km =  float(input("Enter your values in km"))
miles = (0.621371) * km

print (" in miles it is ", miles)

# leap year

In [ ]:
year =  int(input("Enter the year"))

if (year % 400) ==  0 and (year % 100) == 0:
    print("it is a leap year")
elif (year %4) == 0 and (year % 100)!= 0:
    print("it is a leap year")
else:
    print(year ,"not a leap year")

# Python code to find the second largest number in a list

In [ ]:
list_of_numbers = [5, 10, 2, 4, 6, 7, 9]

# Sort the list in descending order and create a sorted copy
sorted_list = sorted(list_of_numbers, reverse=True)

if len(sorted_list) > 1:
    second_largest = sorted_list[1]
    print(second_largest)
else:
    print("The list doesn't have a second largest element.")

# prime numbers`````

In [ ]:
num = int(input("Enter a number "))

if num == 1:
    print("Not a prime number ")
if num > 1:
    for i in range (2, num):
        if num % i == 0:
            print("Number is not a prime")
            break
    else :
            print("its a prime number")

In [ ]:
# random number

import random 

num = random.randint(0,10)
print(num)

# prime numbers in a particular range

In [ ]:
lower = int(input("Enter the lower range"))
upper = int(input("Enter the upper range"))

for num in range (lower, upper+1):
    if num >1:
        for i in range (2,num):
            if num % i == 0:
                break
        else :
            print("prime numbers are:" , num)

## factorial of a number

In [ ]:
num =  int(input("Enter a number "))

fact = 1

if num < 0 :
    print("not possible")
if num == 0:
    print("its factorial is " , 1)
    
if num > 0:
    for i in range (1, num+1):
        fact =  fact * i
    
print(f"The factorial of the number is {fact}")

# Second method using recursion

In [ ]:
def fact(a):
    if a == 0:
        return 1
    else:
        factorial = 1
        for i in range(1, a + 1):
            factorial *= i
        return factorial

num = int(input("Enter a number here: "))

result = fact(num)
print(f"The factorial of {num} is: {result}")

# printing a table

In [ ]:
num =  int(input("Enter a number "))
print("\n")

for i in range (1,11):
    print(num," x ",i," = ",num*i)

## Fibonacci Series

In [ ]:
a= 0
b= 1

num =  int(input("Enter a number here: "))
print("\n")


if num == 1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(1,num+1):
        c = a+b
        a = b
        b = c
        print(c)

# using recursion

In [45]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
    
    
n = int(input("Enter a number here : "))
    if n <0:

        print("Enter a positive number")
    else:
        print("Fibonaaci Series")
        for i in range (n):
            print(fibo(i))

IndentationError: unexpected indent (4149718877.py, line 7)

# armstrong number

In [10]:
lower = int(input("Enter the lower range: "))
upper = int(input("Enter the upper range: "))

print("\nArmstrong numbers in the given range:")
for num in range(lower, upper + 1):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        cube = digit ** order
        sum = sum + cube
        temp //= 10  # Integer division to eliminate the last digit (153 -> 15)

    if sum == num:
        print(num)

Enter the lower range: 100
Enter the upper range: 1000

Armstrong numbers in the given range:
153
370
371
407

# Sum of natural numbers

In [12]:
num =  int(input("Enter a number here: "))
print("\n")

if num < 0:
    print("plz enter a positive integer")

sum = 0
while (num > 0 ):
    sum = sum + num  ## 5 + 4 + 3 + 2 + 1  => 15
    num -=1
    
print(f"THE SUM OF POSITIVE INTEGERS IS {sum}")

Enter a number here: 5


THE SUM OF POSITIVE INTEGERS IS 15

# conversion of numbers in binary, oct , hexadecimal

In [14]:
decimal = int(input("Enter a number here: "))
print ("the conversion of the decimal number " , decimal , "is ")
print (bin(decimal), "in binary")
print (oct(decimal), "in octal")
print (hex(decimal), "in hexadecimal")

Enter a number here: 12
the conversion of the decimal number  12 is
0b1100 in binary
0o14 in octal
0xc in hexadecimal

# ASCII values of character

In [21]:
char = "H"
print("The ASCII value of char ", char,"is ",ord(char))

The ASCII value of char  H is  72

# Finding HCF from two numbers

In [26]:
def findHcf(x,y):
    if x>y:
        smaller = y
    else:
        smaller = x
        
    for i in range (1,smaller + 1):
        if ((x%i == 0)and (y%i == 0)):
            hcf  = i
    return hcf

print("The HCF of the two given numbers is ",findHcf(12,30))

The HCF of the two given numbers is  6

# factors of a number

In [31]:
num =  int(input("Enter a number here: "))
print("\n")

for i in range (1, num + 1):
    if num % i == 0:
        print (i)

Enter a number here: 23


1
23

# Display calender

In [34]:
import calendar

year =int(input("Enter year  here: "))
month =int(input("Enter a month here: "))

calender = calendar.month(year,month)

print(calender)

Enter year  here: 1997
Enter a month here: 10
    October 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

# sum of natural numbers using recurrsion

In [6]:
def NNS(n):
    if n <= 1:
        return n
    else:
        return (n) + NNS(n-1)

n =int(input("Enter a number: "))

if n <= 0 :
        print("enter a positive number  ")
else:
        print ("the sum of the natural numbers is ",NNS(n))

Enter a number: 3
the sum of the natural numbers is  6

# Convert Decimal to Binary Using Recursion

In [8]:
def convertBinary(n):
    if n> 1:
        convertBinary(n//2) #float Division
    print(n%2)
    
convertBinary(23)

1
0
1
1
1

# Add Two Matrices

In [10]:
A = [[1,5,8],
     [4,6,7],
     [7,2,3]]

B = [[4,5,6],
     [8,9,1],
     [3,5,6]]

result =[[0,0,0],
     [0,0,0],
     [0,0,0]]

for i in range(len(A)):
    for j in range(len(A[0])):
        result[i][j]  = A[i][j] + B[i][j]
        
# print (result)  prints in a single row

for r in result:
    print(r)

[5, 10, 14]
[12, 15, 8]
[10, 7, 9]

# Transpose a Matrix

In [14]:
A = [[1,2,3],
     [4,5,6]]

T = [[0,0],
     [0,0],
     [0,0]]

for i in range (len(A)):
    for j in range (len(A[0])):
        T[j][i] = A[i][j]
        
for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

# Now with the comprehension

In [20]:
A = [[1, 2, 3],
     [4, 5, 6]]

# Transpose A into T
T = [[A[j][i] for j in range(len(A))] for i in range(len(A[0]))]

for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

# check pallindrome

In [26]:
a = input("Enter a word: ")

rev = a[::-1]

if a == rev:
    print("its a pallindrome")
else:
    print("its not a pallindrome")

Enter a word: madam
its a pallindrome

# Remove Punctuations From a String

In [31]:
punc = '''<>\|/*.,:;(_){}?@#$%^'''

string = input("input a string ")

emptyString = ""

for i in string:
    if i not in punc:
        emptyString = emptyString + i
    

print(emptyString)

input a string (hello){} Zohaib{)>:
hello Zohaib

# Multiply Two Matrices

In [33]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

B = [[1,2,1,1],
     [4,2,1,2],
     [6,3,4,1]]

result = [[0,0,0,0],
          [0,0,0,0],
          [0,0,0,0]]


for i in range (len(A)):
    for j in range (len(B[0])):
        for k in range (len(B)):
            result[i][j] += A[i][k] * B[k][j]
            
for i in result:
    print(i)

[27, 15, 15, 8]
[60, 36, 33, 20]
[93, 57, 51, 32]

#  Sort Words in Alphabetic Order (A B C)

In [44]:
a = input("Enter a string to  Sort Words in Alphabetic Order (A B C) ")

w = a.split()
print (w)

for i in range (len(w)):
    w[i] = w[i].lower()
    
print(w)

w.sort()
print(w)

for i in w:
    print(i)

Enter a string to  Sort Words in Alphabetic Order (A B C) Harry Potter And The GOblet OF Fire
['Harry', 'Potter', 'And', 'The', 'GOblet', 'OF', 'Fire']
['harry', 'potter', 'and', 'the', 'goblet', 'of', 'fire']
['and', 'fire', 'goblet', 'harry', 'of', 'potter', 'the']
and
fire
goblet
harry
of
potter
the

#  Illustrate Different Set Operations

In [49]:
A = {1,2,3,6,8,9}
B = {3,4,5,6,7,8}

print("the union is ",A | B)
print("the intersection is " , A & B)
print("the difference is ",A-B)
print("The symmetric difference is ",A^B)

the union is  {1, 2, 3, 4, 5, 6, 7, 8, 9}
the intersection is  {8, 3, 6}
the difference is  {1, 2, 9}
The symmetric difference is  {1, 2, 4, 5, 7, 9}

# Count the Number of Each Vowel

In [55]:
string = "my name is zohaib"
vowels = "aeiou"
empty = ""

for char in string:
    if char in vowels:
        empty += char  # Append the vowel to the 'empty' string

if empty:
    print("Vowels found:", empty)
else:
    print("No vowels found")

Vowels found: aeioai

In [69]:
# using Dictionaries 

a = "my name is zohaib"
vowels = "aeiou"
a = a.casefold()
print(a)

count = {}.fromkeys(vowels,0) # created a dictionary 
for char in a :
    for char in count:
        count[char] += 1
        
        
print(count)

my name is zohaib
{'a': 17, 'e': 17, 'i': 17, 'o': 17, 'u': 17}

# Program to Find the Size (Resolution) of an Image

In [73]:


from PIL import Image

# Open the image file
image = Image.open("C:/Users/HP/OneDrive/Desktop/pics/-alizeh-shah.jpg")  

# Get the size (width and height) of the image
width, height = image.size

# Print the size
print(f"Image size: {width} x {height}")

Image size: 850 x 1098

# Merge Two Dictionaries

In [4]:
#Solution 1

dict1 = {"Peter":92,"Lisa":56}
dict2 = {"john":38,"Lisa":72}

# print (dict1|dict2)
print ({**dict1,**dict2})

{'Peter': 92, 'Lisa': 72, 'john': 38}

In [5]:
#Solution 2

dict1 = {"Peter":92,"Lisa":56}
dict2 = {"john":38,"Lisa":72}

print ({**dict1,**dict2})

{'Peter': 92, 'Lisa': 72, 'john': 38}

In [6]:
#Solution 3 || copy and update method


dict1 = {"Peter":92,"Lisa":56}
dict2 = {"john":38,"Lisa":72}

dict3 = dict2.copy()
dict3.update(dict1)


print(dict3)

{'john': 38, 'Lisa': 56, 'Peter': 92}

# Accessing Index of List using for Loop

In [11]:

# enumerate give us the corresponding value according to the index

list = [23,12,17,84,46]

for index,value in enumerate(list, start = 1): #start the value from 1 , bydefault it starts from zero
    print(index,"-> ",value)

1 ->  23
2 ->  12
3 ->  17
4 ->  84
5 ->  46

# Slicing on List

In [18]:
list = ["zohaib","Qasim","mansoor","Ali","Tayyab","shan"]

print(list[1:4])

print(list[0])
print(list[-6])

print(list[::])
print(list[1:7:2])
print(list[1:])
print(list[:4])

['Qasim', 'mansoor', 'Ali']
zohaib
zohaib
['zohaib', 'Qasim', 'mansoor', 'Ali', 'Tayyab', 'shan']
['Qasim', 'Ali', 'shan']
['Qasim', 'mansoor', 'Ali', 'Tayyab', 'shan']
['zohaib', 'Qasim', 'mansoor', 'Ali']

# Iterate Over Dictionaries Using For Loop

In [34]:
friends = {"Monica":"Zohaib","Ross":"Qasim","Richeal":"mansoor","chandler":"Ali","phoboe":"Tayyab","Joe":"shan"}

for key,value in friends.items():
    print(key,":->",value)
    
print("\n")
print(friends["Ross"])
print("\n")

for key in friends:
    print(key,": ",friends[key])
    
print("\n")

for key in friends.keys():
    print(key)
    
print("\n")

for i in friends.values():
    print(i)

Monica :-> Zohaib
Ross :-> Qasim
Richeal :-> mansoor
chandler :-> Ali
phoboe :-> Tayyab
Joe :-> shan


Qasim


Monica :  Zohaib
Ross :  Qasim
Richeal :  mansoor
chandler :  Ali
phoboe :  Tayyab
Joe :  shan


Monica
Ross
Richeal
chandler
phoboe
Joe


Zohaib
Qasim
mansoor
Ali
Tayyab
shan

# Sort a Dictionary by Value

In [39]:
marks = {"John":23,"Lisa":56,"sid":48}
print(marks)
print("hello")
print("\n")
sv = sorted(marks.items(), key = lambda x:x[1])

print(sv)

# sorted only with values 

v = sorted(marks.values())
print(v)

{'John': 23, 'Lisa': 56, 'sid': 48}
hello


[('John', 23), ('sid', 48), ('Lisa', 56)]
[23, 48, 56]

# Check if a List is Empty in Python

In [43]:
mylist = [1]

if not mylist:
    print("the list is empty ")
else :
    print("the list is not empty ")

the list is not empty

In [50]:
mylist = [1,4,7]

print(len(mylist))
if (len(mylist))< 5:
    print("list is small but not empty ")
if not mylist:
    print("the list is empty ")
if (len(mylist)) == 0:
    print("list is empty ")
if (len(mylist)) == []:
    print("list is empty ")

3
list is small but not empty

#  Multiple Exception Handling

In [4]:
string = input("Enter a string ")

try:
    num = int(input("Enter a number here "))
    print(string + num)
except (ValueError , TypeError) as a:
    print(a)

Enter a string hello
Enter a number here woeks
invalid literal for int() with base 10: 'woeks '

In [8]:
# dict only print unique values

l3 = {1,2,4,5,1,2,3,6}
print(l3)

#######################

l1 = [1,2,3,4]
l2 = [5,6,7,8]

l1.extend(l2)
print(l1)

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6, 7, 8]

# adding two lists

In [7]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

result = []

#check if the length of the list is same ?
if len(list1) == len(list2):
    for i in range(len(list1)):
        sum_element = list1[i] + list2[i]
        result.append(sum_element)
        
else:
    print("list must have same length for number wise addition ")
    
print(result)

[6, 8, 10, 12]

# key present or not

In [10]:
friends = {"Monica":"Zohaib","Ross":"Qasim","Richeal":"mansoor","chandler":"Ali","phoboe":"Tayyab","Joe":"shan"}

name = input("Enter a key: ")

if name in friends:
    print("Key is present ")
else:
    print("Key is not present ")

Enter a key: Richeal
Key is present

In [15]:

a = ["ironman","thor","hulk","vision"]

# for i in (a):
#     print(i.upper())

new_list = [i.upper() for i in a]
print(new_list)

['IRONMAN', 'THOR', 'HULK', 'VISION']

In [28]:
k = [1,2,3,4,5,6,7,8,9,10]
emptyList = []
for i in k :
    if i % 2 == 0:
        emptyList.append(i)
        
print("here is the list\n")        
print(emptyList)

here is the list

[2, 4, 6, 8, 10]

In [33]:
m = [i for i in range(10) if i % 2 == 0]
print(m)

[0, 2, 4, 6, 8]

In [35]:
num = input("Enter something here ")

def floatCheck(num):
    try:
        float(num)
        return True
    except:
        return False
    
print(floatCheck(num))

Enter something here 23
True